body
{
	font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: .9em;
	line-height: 1.25em;
	/* background-image: url(images/ie/sliver-small.png);
	background-repeat: repeat-x;
	background-position: top left; */
	margin: 0px;
	padding: 10px;
	/* height: 100%; */
	min-width: 850px;
}

div#banner {
	background-image: url(images/crystal/sliver-small.png);
	background-repeat: repeat-x;
	background-position: top left;
	width: 100%;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100px;
	}

a img {
border: none;
}

a.a_home {
padding-left: 16px;
background: url(images/ie/home.png);
background-repeat: no-repeat;
}

a.a_back {
padding-left: 16px;
background: url(images/ie/back.png);
background-repeat: no-repeat;
}

a.a_forward{
padding-right: 16px;
background: url(images/ie/forward.png);
background-repeat: no-repeat;
}

div#foss_pic{
background-image: url(images/ie/foss-small.png);
background-repeat: no-repeat;
height: 30px;
width: 30px;
}

div#theme_pic {
display: inline;
background-image: url(images/ie/theme.png);
background-repeat: no-repeat;
width: 16px;
height: 16px;
}

div#locale_pic {
display: inline;
background-image: url(images/ie/locale.png);
background-repeat: no-repeat;
width: 16px;
height: 16px;
}

div#masthead
{
	background-image: url(images/ie/banner-small.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-bottom: 10px;
	border: 0px;
}

a
{
	color: #00256a;
}

a:visited
{
	color: #00256a;
}

a:hover
{
	color: #729fcf;
}

div#about
{
	width: 20%;	
	height: 368px;
	font-size: .8em;
	font-style: italic;
	float: left;
	padding: 10px;
	border: 1px solid #444444;
	background-color: #e6e6ff;
	color: #424542;
}

#about
h2
{
	color: #424542;
	margin-top: 0px;	
	font-style: normal;
	font-size: 1.2em;
}

div#content {
		margin-top: 100px;
	}


/* The following is the styles for the centre boxes... */

table#container
{
	/* text-align: center;
	width: 100%;
	float: left; */
	margin: 0 auto; 
	bottom: 0px;
}

div.container {
	margin: 0 auto;
	margin-top: -4px;
	width: 75%;
	float: right;
	margin-bottom: 0px;
	bottom: 0px;
	}
	
table#container td {
	width: 20%;
	text-align: center;
	margin: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	/*border: solid 1px #000000;*/
	
	}
#container a
{
	/* background-color: #f4f4f4; */
}

a.item
{
	border: 1px dashed #666666;
	background-color: #E6E6FF;
	text-align: center;
	color: #444444;
	padding: 10px;
	/* height: 100px; */
	width: 90%;
	font-family: "bitstream vera sans";
	float: right;
	clear: both;
	margin: 1%;
	/* margin-left: 10%;
	margin-right: 10%; */
	font-size: .75em;
	font-weight: bold;
	text-decoration: none;
	padding-top: 95px;
	padding-bottom: 10px; 
	background-position: 50% 10px; 
	background-repeat: no-repeat; 
	/* height: 15px; */
	/* left: 50%; */
}

a.item:hover
{
	color: #729fcf;
	border: 1px solid #666666;
}

h3
{
	padding-top: 5px;
        padding-left: 30px;
        margin-top: 0px;
        height: 25px

}

h3#nopadding
{
        margin-top: 0px;
        padding-left: 0px;
}
		
/* This is the end of the box styles */

h3#foss {
background-image: url(images/ie/foss-small.png);
background-repeat: no-repeat;
background-position: top left;
}

h3#linux {
background-image: url(images/ie/linux-small.png);
background-repeat: no-repeat;
background-position: top left;
}

h3#software {
background-image: url(images/ie/software-small.png);
background-repeat: no-repeat;
background-position: top left;
}

h3#why {
background-image: url(images/ie/why-small.png);
background-repeat: no-repeat;
background-position: top left;
}

h3#data {
background-image: url(images/ie/data-small.png);
background-repeat: no-repeat;
background-position: top left;
}

h3#considerations {
background-image: url(images/ie/considerations-small.png);
background-repeat: no-repeat;
background-position: top left;
}

h3#action {
background-image: url(images/ie/action-small.png);
background-repeat: no-repeat;
background-position: top left;
}

h3#getstarted {
background-image: url(images/ie/getstarted-small.png);
background-repeat: no-repeat;
background-position: top left;
}

h3#getinvolved {
background-image: url(images/ie/getinvolved-small.png);
background-repeat: no-repeat;
background-position: top left;
}

div#footer
{
	border-top: 1px solid #000000;
	background-color: #4A69E6;
	width: 100%;
	font-size: .8em;
	margin: 0;
	padding: 0px;
	height: 3.0em;
	text-align: center;
	padding-left: 15px;
	/* vertical-align: bottom; */
	/* bottom: 1.6em; */
	left: -30px;
	bottom: 0px;
	top: 0px;
}

form 
{
	position: absolute; top: 10px; right: 10px; font-size: 0.8em;
}

form#locale
{
        position: absolute; top: 40px; right: 10px; font-size: 0.8em;
}


/* Here are the background specifications for the individual boxes */

a#foss {
background-image: url(images/ie/foss.png);
}

a#linux {
background-image: url(images/ie/linux.png);
}

a#data {
background-image: url(images/ie/data.png);
}

a#why {
background-image: url(images/ie/why.png);
}

a#software {
background-image: url(images/ie/software.png);
}

a#considerations{
background-image: url(images/ie/considerations.png);
}

a#getstarted {
background-image: url(images/ie/getstarted.png);
}

a#action {
background-image: url(images/ie/action.png);
}

a#getinvolved {
background-image: url(images/ie/getinvolved.png);
}
